<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Scraped news from Hacker News" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Entries</h1>
  </div>

  <div id="entries" class="min-w-full">
    <% @entries.each do |entry| %>
      <%= render entry %>
    <% end %>
  </div>
  
  <% if @entries.empty?  %>
    <h1>News is being loaded... Please, refresh shortly.</h1>
  <% end %>
</div>
